[defaults]
inventory          = inventory/hosts.ini
remote_user        = depi
private_key_file   = ~/.ssh/depi_k3s
host_key_checking  = False
retry_files_enabled = False
roles_path         = roles
stdout_callback      = yaml
deprecation_warnings = False
interpreter_python   = auto_silent
forks              = 5

[privilege_escalation]
become      = True
become_method = sudo
become_user = root
